<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Lists</h2>
<ul>
    {% for list in list_all %}
    <li>
        <a href="{% url 'list_detail' list.id %}">{{ list.name }}</a> <!--list ist die view-->
    </li>
    {% endfor %}

    <li>
        <form action="{% url 'create_list' %}" method="post">
            {% csrf_token %}
            <ul>
                <li>
                    <label>Name</label>
                    <input type="text" name="list_name">
                </li>
                <li>
                    <label>Description</label>
                    <textarea name="list_description"></textarea>
                </li>

                <li>
                    <label>Category</label>
                    <select name="list_category">
                        {% for list in category_all %}
                        <option value="{{list.id}}">{{list}}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <label>Location</label>
                    <select name="list_location">
                        {% for location in location_all %}
                        <option value="{{location.id}}">{{location}}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>

                    <input type="submit" name="Create" value="Create">
                </li>
            </ul>
        </form>
    </li>
</ul>

<h2>Locations</h2>
<ul>
    {% for item in location_all %}
    <li>
        <a href="{% url 'location' item.id %}">{{ item.name }}</a>
    </li>
    {% endfor %}
</ul>

</body>
</html>
