<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>{{ item.name }}</h1>
<p>test</p>

<ul>
    {% for item in item_all %}
    <li>
        {{item}}
    </li>
    {% endfor %}

    <li>
        <form action="{% url 'create_item' %}" method="post">
            {% csrf_token %}
            <ul>
                <li>
                    <label>Name</label>
                    <input type="text" name="item_name">
                </li>
                <li>
                    <label>Description</label>
                    <textarea name="item_description"></textarea>
                </li>
                <li>
                    <label>List</label>
                    <select name="item_list_name">
                        {% for list in list_all %}
                        <option value="{{list.id}}">{{list}}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <select name="item_location">
                        {% for location in location_all %}
                        <option value="{{location.id}}">{{location}}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <label>Amount</label>
                    <input type="number" step="1" name="item_amount">
                </li>
                <li>
                    <label>Price</label>
                    <input type="number" step="0.01" name="item_price">
                </li>
                <li>
                    <input type="submit" value="Create">
                </li>
            </ul>
        </form>
    </li>

</ul>

</body>
</html>
